@import "global.css";
@import "components/card.css";
@import "components/user.css";
@import "components/switch.css";
@import "components/footer.css";

.header {
  background-color: var(--color-petrol);
  padding: 0.8rem 2rem;
  height: 12%;
  display: flex;
  align-items: center;
  min-height: 2.5rem;
}

.header_title {
  font-size: 3.5rem;
  color: var(--color-dark);
  text-align: center;
  margin: 0 auto;
  text-shadow: 4px 4px 6px var(--color-dark);
}

.cards {
  min-height: 80vh;
}

.button {
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--color-petrol);
  font-size: 1rem;
  border: 1px solid var(--color-dark);
}

/* .button {
    
  width: 7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: var(--color-petrol);
  font-size: 1rem;
  font-style: inherit;
} */

.button:hover {
  opacity: 0.8;
}

@media (min-width: 900px) {
}
