@import "global.css";
@import "components/card.css";
@import "components/user.css";
@import "components/switch.css";

:root {
  --color-dark: #222f3e;
  --color-grey: #8395a7;
  --color-lightgrey: #c8d6e5;
  --color-petrol: #01a3a4;
}
.header {
  background-color: var(--color-petrol);
  padding: 10px 30px;
  margin-bottom: 20px;
}

.header_title {
  font-size: 2rem;
  color: var(--color-dark);
  text-align: center;
}

.card {
  border-radius: 15px;
  background-color: var(--color-lightgrey);
  padding: 20px;
  margin: 20px 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 10px 0 var(--color-dark);
}

.card p {
  margin: 10px;
}

.card_tags {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  gap: 10px;
  margin-left: 15px;
  font-style: italic;
}

.card_tags li {
  list-style: none;
  padding: 1px 10px;
  background-color: var(--color-petrol);
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  color: white;
}

.card-tags li:hover {
  cursor: pointer;
  opacity: 0.5;
}

.button {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-petrol);
}

.button:hover {
  opacity: 0.5;
}

.bookmark {
  width: 50px;
  position: absolute;
  right: 20px;
  top: -10px;
}

.card_title {
  margin-bottom: 20px;
}

.footer {
  background-color: var(--color-petrol);
  position: sticky;
  bottom: 0px;
}

.footer_nav a {
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
  font-style: inherit;
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid var(--color-dark);
  border-radius: 8px;
  width: 28%;
  text-align: center;
}

.footer_nav a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer_nav {
  display: flex;
  justify-content: space-around;
}

.open {
  background-color: var(--color-lightgrey);
}
