.footer {
  background-color: var(--color-petrol);
  position: sticky;
  bottom: 0px;
  height: 8%;
  min-height: 50px;
}

.footer_nav a {
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: inherit;
  font-style: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  border: 0.1rem solid var(--color-dark);
  border-radius: 0.5rem;
  width: 28%;
  text-align: center;
  height: calc(100% - 20px);
}

.footer_nav a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.open {
  background-color: var(--color-lightgrey);
}
